:host {
    display: block;
    width: 100%;
    font-size: 14.5px;
    font-weight: 300;
    user-select: none;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    box-sizing: border-box;
    flex: 0;
}

.buttons {
    display: flex;
}

check-box {
    margin-left: 5px;
}

.meta {
    margin: 5px 0;
    font-size: 0.95em;
}

.layers {
    width: 100%;
    height: auto;
    padding: 5px 0;
    box-sizing: border-box;
    background: #1c1c1c;
}

.layer:nth-child(even) {
    background: #272727;
}

.layer .title {
    font-size: 0.9em;
    flex: 1;
}