:host {
    display: block;
    width: 100%;
    font-size: 13.3px;
    font-weight: 300;
    user-select: none;
    border-radius: 4px;
    background: hsla(0, 0%, 10%, 0.8);
    backdrop-filter: blur(12px);
    overflow: hidden;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    box-sizing: border-box;
    flex: 0;
}

.buttons {
    display: flex;
}

check-box {
    margin-left: 5px;
}

.options {
    height: 100%;
}

.layers {
    height: 100%;
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    background: rgba(28, 28, 28, 0.25);
}

.layer:nth-child(even) {
    background: rgba(39, 39, 39, 0.25);
}

.layer[selected] {
    background: #494949;
}

.layer .title {
    font-size: 0.9em;
    flex: 1;
    max-width: 67%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}