body {
    background: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

gyro-layout {
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 280px;
    right: 0;
    bottom: 0;
    margin: 10px;

    --layout-grid-gap: 4px;
    --panel-background: hsla(0, 0%, 15%, 0.8);
    --tab-background: hsla(0, 0%, 50%, 0);
    --tab-active-background: rgba(200, 200, 200, 0);
    --tab-hover-background: rgba(200, 200, 200, 0.1);
    --tabs-background: hsla(0, 0%, 33%, 0.25);
}

gyro-group {
    border-radius: 4px;
    backdrop-filter: blur(4px);
}

debug-console {
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
    width: auto;
    z-index: 1000;
    opacity: 0.9;
    pointer-events: none;
}

source-map-viewer {
    width: 100%;
    height: 100%;
}
