body {
    background: black;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

viewer-controls {
    z-index: 10000;
    position: absolute;
    top: 0;
    width: 180px;
    right: 0;
    bottom: 0;
    margin: 10px;
}

source-map-viewer {
    width: 100%;
    height: 100%;
    display: block;
}

map-select {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: auto;
    z-index: 1000;
}
